
@import './bootsrap/bootstrap.css';

.background-pixel {
    background-image: url(../images/background.front.jpg);
}

b{     
  font-weight: 700;
  color: #345f80; 
}

span {
  font-weight: 500;
  color: #824147;
}

body{
  font-family: 'Red Rose', cursive;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

/*Header*/

header{
  background-color: #2b4c5b;
  padding: 10px 0;
  box-shadow: 0 5px 10px #20353f;
}

 ul {
  background-color: #20353f;
  padding: 10px 0;
}

 .title-header {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9f7cac;
}

.avatar-container{
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
}

.imagen{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.icon-header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 20px;
  color: #9f7cac;
}

.profile-options-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal-header{
  background-color: #9f7cac;
}

.modal-body{
  background-color: #20353f;
}

a{
  display: block;
padding: 10px 0;
color: #9f7cac;
}

.icon-list{
  display: inline-block;
  width: 18px;
  text-align: center;
  margin-right: 5px;
}

.info-text {
  font-size: 25px;
  font-weight: 300;
  color: #9f7cac;
}

.tittle-list{
  font-size: 30px;
  font-weight: 500;
  color: #9f7cac;
}

.ocup-subtitle{
  font-size: 40px;
  font-weight: 400;
  color: #8b444a;
}

.info-title{
  font-family: 'Red Rose', cursive;
  font-size: 45px;
  margin: inherit;
  font-weight: 500;
  color: #1a1420;
}

.name-title{
  font-family: 'Red Rose', cursive;
  font-size: 70px;
  font-weight: 500;
  color: #1a1420;
} 

.imagen{
  border-radius: 53px;
  opacity: 100% !important;
}

.first-box{
  background: #2b4c5b;
  background: linear-gradient(90deg, #2b4c5b 0%, #48070d 100%);
  display: inline-flex;
}
